@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(235, 241, 242);
  /* color: white; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:disabled{
  background-color: gray;
}
button:disabled:hover{
  background: gray;
}
.orginal_img{
max-height: 800px;
overflow: auto;
}

.header-text{
  text-transform: uppercase;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  letter-spacing: 5px;

}


.image-input{
  padding: 35px 20px;
  border: 2px solid ;
  text-align: center;
  position: relative;
  background-color: rgb(245, 237, 237);
  margin: 20px;
  border-radius: 10px;
}
.image-input:hover{
  background: rgb(198, 197, 197);
  cursor: pointer;
}

.image-input:before {
  position: absolute;
  bottom: 5px;
  left:20%;
  content: " (or) Drag and Drop files here";
  color: #8c9596;
  font-weight: 900;

}




@media only screen and (max-width:666px)   {
  .container{
    margin: 0 10px;
  }
  
}