body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
  margin: 0 30px;
}
.orginal_image_container{
  max-height: 600px;
  /* max-width: 800px; */
  overflow: auto;
  margin: auto;
}
.orginal_image_container> image{
height: 100%;
width: 100%;
}
@media only screen and (max-width:666px)   {
  .container{
    margin: 0 10px;
  }
  
}